<!-- Include header code -->
{% extends "themclan/header.html" %}

{% block content %}

    <!-- The Navigation Bar -->
    {% include "includes/navbar.html" %}

    <!-- The Login Modal -->
    {% include "includes/login.html" %}

    <!-- The Register Modal -->
    {% include "includes/register.html" %}

    <!-- Home Page Image -->
    <section id="homepageimage" class="py-5">
        <div class="primary-overlay text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <h1 class="display-2 mt-4 pt-5">
                                A Joint SAE ASME Student Chapter of VCE.
                        </h1>
                        <p class="lead">Learn | Evolve</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Subscription -->
    <section class="subscription bg-dark text-white py-5">
        <div class="container">
            <div class="row justify-content-middle">
                <div class="col-md-6">
                    <input type="email" class="form-control form-control-lg mb-resp" placeholder="Enter Email">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa-envelope-open-o"></i> Subscribe
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Panel -->
    <section id="panel" class="py-5">
        <div class="container">
            <!-- FIRST ROW -->
            <div class="row mb-panel">
                <!-- CHAIRMAN -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                Chairman
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- VICE CHAIRMAN -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                Vice Chairman
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- SECRETARY -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                Secretary
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- TREASURER -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                Treasurer
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECOND ROW -->
            <div class="row">
                <!-- RECRUITMENT HEAD -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                Recruitment Head
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- PR HEAD -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                PR Head
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- TECHNICAL HEAD -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                Technical Head
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 3-DAY EVENT HEAD -->
                <div class="col-lg-3">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                    <div class="card text-center border-primary mb-resp">
                        <div class="card-body">
                            <h3 class="text-primary">
                                3-Day Event Head
                            </h3>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQs -->

    <h2 class="text-center mb-5">Frequently Asked Questions</h2>

    <div id="slidingfaqs" class="carousel slide mb-5" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card text-center border-primary mb-resp">
                    <div class="card-body">
                        <h3 class="text-primary">
                            Question 1
                        </h3>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-center border-primary mb-resp">
                    <div class="card-body">
                        <h3 class="text-primary">
                            Question 2
                        </h3>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-center border-primary mb-resp">
                    <div class="card-body">
                        <h3 class="text-primary">
                            Question 3
                        </h3>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sequi enim cupiditate neque id voluptate?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a href="#slidingfaqs" class="carousel-control-prev" style="color: aqua;" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#slidingfaqs" class="carousel-control-next" style="color: aqua;" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- Footer -->
    {% include 'includes/footer.html' %}

{% endblock %}